/*General Style*/
:root {
    --header-pink-opacity: #e2a1aca1;
    --about-me-pink-opacity: #ecbac2ee;
    --background-pink:#e2a1ac; 
    --yellow-opacity: #ffffacce;
}

body {
    background-color: rgb(255, 224, 228);
    /* background-color: black; */
    background-image: url('images/background-image.png');
    background-repeat: no-repeat;
}

img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    border: 5px solid white;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    margin: 1em 1em 1em 1em;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: VT323;
}

.about-me p, aside ul {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}


/*Header Styling*/
header {
    background-color: var(--header-pink-opacity);
    grid-column: 1/4;
    grid-row: 1;
    margin: -1em -1em 1em -1em;
    padding: 2em 1em 10em 2em;
    /* opacity: 0.5; */
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
}

header nav {
    grid-column: 1/5;
    grid-row: 1;
    background-color: var(--yellow-opacity);
    margin-top: -2em;
    margin-left: -2em;
    margin-right: -2em;
}

header nav div {
    grid-column: 2/4;
    justify-self: end;
    z-index: 2;
    display:flex;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 140%;
    padding: 1em;
}

header a:hover {
    text-decoration: underline;
    color: rgb(189, 68, 88);
}

h1 {
    font-size: 500%;
    padding-left: 1em;
}

/*Main Styling*/
main {
    grid-column: 1/3;
    grid-row: 2;
}

main section {
    padding: 1em;
    margin-top: -1em;
}

/*About Me Styling*/
.about-me {
    display: grid;
    grid-template-columns: 1/2fr 1fr 2fr;
    background-image: linear-gradient(#ecbac2ee, #e2a1ac);
}

.about-me h2 {
    grid-column: 2;
    grid-row: 1;
    font-size: 150%;
}

.about-me img {
    grid-column: 1;
    grid-row: 1/3;
    justify-self: start;
    background-color: rgb(214, 212, 212);
}

.about-me div {
    grid-row: 2;
    grid-column: 2/4;
    padding-bottom: 1em;
    margin-left: 2%;
}

.about-me p {
    padding: 1em .5em .5em;
}

/*My Work Styling*/

.my-work {
    display: grid;
    grid-template-columns: 2fr 1fr 1/2fr;
    background-image: linear-gradient(#e2a1ac, #e2a1ac, rgba(255, 255, 255, 0));
}

.my-work h3 {
    grid-column: 2;
    grid-row: 1;
    font-size: 150%;
    text-align: right;
    margin-right: 2%;
}

.my-work img {
    grid-column: 3;
    grid-row: 1/3;
    justify-self: end;
    margin: 1em;
}

.my-work div {
    grid-column: 1/3;
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em;
    background-image: none;
}

.line:before {
    border: 1px solid rgb(105, 38, 38);
    content: '';
    height: 0px;
    width: 20%;
    margin-top: -1em;
    margin-left: 20em;
    margin-right: 10em;
    display: block;
    position: absolute;
}

/*My Work Card Holder Styling*/

.card-holder img {
    border: 3px solid white;
    border-radius: 10%; 
}

.card-holder:hover {
    cursor: pointer;
    transform: translateY(-5px); 
}

.horiseon {
    position: absolute;
    bottom: 3.2%;
    width: 20%;
    left: 15.5%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-bottom-left-radius: 44%;
}

.card-holder {
    position: relative;
    text-align: center;
    color: white;
    opacity: 1;
}

/*Aside Styling*/

aside {
    background-image: linear-gradient(#FFE0E4,#E2A1AC, #E2A1AC);
    grid-column: 3;
    grid-row: 2/3;
    margin-top: -21em;
    padding-top: 21em;
    text-align: center;
    z-index: 1;
}

.cherry-aside {
    border: none;
    border-radius: 0%;
    margin-top: -21em;
}

h4 {
    font-size: 200%;
    text-align: center;
    padding-bottom: 1em;
}

h5 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 150%;
}

h6 {
    margin-top: 1em;  
}
/*Aside Nav Styling*/

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 1em 0em;
}

.GitHub {
    grid-column: 1;
}

.LinkedIn {
    grid-column: 2;
}

.Email {
    grid-column: 3;
}

.Phone {
    grid-column: 4;
}

nav i {
    color: black;
}

nav i:hover {
    transform: translateY(-5px); 
    color:rgb(189, 68, 88); 
}

/*Aside Nav Tooltip styling*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*Footer Styling*/
footer {
    background-color:  var(--background-pink);
    grid-column: 1/4;
    grid-row: 3;
    margin-left: -1em;
    margin-right: -1em;
    margin-bottom: -1em;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: minmax(100px, 1);
}

footer img {
    border: none;
    border-radius: 0%;
    grid-row: 1/2;
    justify-self: end;
    align-self: end;
}

@media only screen and (max-width: 956px) {
    
}

/*For Phones*/
@media only screen and (max-width: 768px) {
    
    /*For header*/
    header {
        grid-template-columns: 1fr 1fr 1fr;
    }

    h1 {
        padding-bottom: 1em;
    }
    
    /*for Aside*/
    aside {
        grid-column: 1/4;
        grid-row: 2;
        margin-bottom: 1em;
        margin-top: -1em;
        padding-top: 1em;
    }

    .aside-information {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 1em;
    }

    .aside-information h4 {
        grid-column: 1;
        grid-row: 1;
        margin-left: 2em;
        justify-self: center;
    }

    .aside-information img {
        grid-column: 1;
        grid-row: 2;
        margin-top: -5em;
        margin-left: 2em;
        margin-bottom: -1em;
        justify-self: center;
    }

    .aside-information h5 {
        grid-column: 1;
        grid-row: 3;
        margin-left: 2em;
    }

    .aside-information nav {
        grid-column: 1/2;
        grid-row: 3;
        margin-left: 2em;
        margin-top: 2em;
        align-self: center;
    }
    
    .aside-information h6 {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    /*For Main and Footer*/
    main {
        grid-column: 1/4;
        grid-row: 3;
    }

    footer {
        grid-row: 4;
    }

}